 <!-- Page Title -->

     <!-- Bootstrap 5 -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link rel="stylesheet" href="css/layout.css">
     <!-- <link rel="stylesheet" href="css/login.css"> -->

    <style>
      body{
        background-color: lightgray;
      }
      #submit{
        background-color: black;
        color: white;
      }
      .bgborder{
        margin: 2rem  5rem;
        padding-bottom:1rem ;
        border: 4px solid black;
      }
      #submit:hover{
        background-color: white;
        color: black;
      }
    </style>

<div class="login-div flex-column-centered bgborder">     
  <div class="login-comps">

<header class="page-header mx-auto col-md-7 my-4">
<h1 class="page-title">Patient Signup</h1>
</header>


<div class="d-flex mx-auto col-md-7">


<!--Form Starting-->


<form class="row g-3 needs-validation">

 <div class="col-md-6">
     <label for="fname" class="form-label">First name</label>
     <input type="text" class="form-control" id="fname" name="fname" placeholder="Manish" required>
     <div class="valid-feedback">
         Looks good!
     </div>
 </div>

 <div class="col-md-6">
     <label for="lname" class="form-label">Last name</label>
     <input type="text" class="form-control" id="lname" name="lname" placeholder="Sharma" required>
     <div class="valid-feedback">
         Looks good!
     </div>
 </div>

 <div class="col-md-3">
     <label for="gender" class="form-label">Gender</label>
     <select class="form-select" id="gender" name="gender" required>
         <option selected disabled></option>
         <option value="Male">Male</option>
         <option value="Female">Female</option>
     </select>
     <div class="invalid-feedback">
         Please select your Gender.
     </div>
 </div>

 <div class="col-md-3">
     <label for="marital-status" class="form-label">Marital Status</label>
     <select class="form-select" id="marital-status" name="marital-status">
         <option selected value=""></option>
         <option value="single">Single</option>
         <option value="married">Married</option>
     </select>
     <div class="invalid-feedback">
         Please select your Marital Status.
     </div>
 </div>

 <div class="col-md-3">
     <label for="race" class="form-label">Race</label>
     <select class="form-select" id="race" name="race" required>
         <option selected disabled></option>
         <option value="asian">Asian</option>
         <option value="black">Black</option>
         <option value="white">White</option>
         <option value="native">Native</option>
         <option value="other">Other</option>
     </select>
     <div class="invalid-feedback">
         Please select your Race.
     </div>
 </div>

 <div class="col-md-3">
     <label for="ethnicity" class="form-label">Ethnicity</label>
     <select class="form-select" id="ethnicity" name="ethnicity" required>
         <option selected disabled></option>
         <option value="hispanic">Hispanic</option>
         <option value="non-hispanic">Non Hispanic</option>
     </select>
     <div class="invalid-feedback">
         Please select your Ethnicity.
     </div>
 </div>

 <div class="col-md-10">
     <label for="email" class="form-label">Email</label>
     <input type="email" class="form-control" id="email" name="email" placeholder="OPTeam@gmail.com" pattern="^[\w.+\-]+@gmail\.com$" required>
     <div class="valid-feedback">
         Looks good!
     </div>
 </div>

 <div class="col-md-2">
     <label for="age" class="form-label">Age</label>
     <input type="number" min="0" max="120" class="form-control" id="age" name="age" required>
     <div class="valid-feedback">
         Looks good!
     </div>
     <div class="invalid-feedback">
         Enter valid Age !
     </div>
 </div>

 <div class="col-md-6">
     <label for="password" class="form-label">Password</label>
     <input type="password" minlength="8" maxlength="16" class="form-control" id="password" name="password"
         required>
     <div class="valid-feedback">
         Looks good!
     </div>
     <div class="invalid-feedback">
         Password length should be 8-16 characters!
     </div>
 </div>

 <div class="col-md-6">
     <label for="confirmPassword" class="form-label">Confirm Password</label>
     <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
     <div class="invalid-feedback">
         Passwords do not match !
     </div>
 </div>

 <div class="col-md-6">
     <label for="contact" class="form-label">Contact Number</label>
     <input type="tel" class="form-control" id="contact" name="contact" pattern="[0-9]{10}" required>
     <!-- <input id="contact-no" type="tel" pattern="^\d{4}-\d{3}-\d{4}$" required > -->
     <div class="valid-feedback">
         Looks good!
     </div>
     <div class="invalid-feedback">
         10 Digits please !
     </div>
 </div>

 <div class="col-md-6">
     <label for="altContact" class="form-label">Alternative Contact Number</label>
     <input type="tel" class="form-control" id="altContact" name="altContact" pattern="[0-9]{10}"
         placeholder="Optional">
     <div class="valid-feedback">
         Looks good!
     </div>
     <div class="invalid-feedback">
         10 Digits please !
     </div>
 </div>

 <div class="col-md-6">
     <label for="address" class="form-label">Address</label>
     <input type="text" class="form-control" id="address" name="address" required>
     <div class="valid-feedback">
         Looks good!
     </div>
 </div>

 <div class="col-md-3">
     <label for="city" class="form-label">City</label>
     <input type="text" class="form-control" id="city" name="city" required>
     <div class="valid-feedback">
         Looks good!
     </div>
 </div>

 <div class="col-md-3">
     <label for="county" class="form-label">County</label>
     <select class="form-select" id="county" name="county" required>
         <option selected disabled value=""></option>
         <option value="Barnstable">Barnstable</option>
         <option value="Berkshire">Berkshire</option>
         <option value="Bristol">Bristol</option>
         <option value="Dukes">Dukes</option>
         <option value="Essex">Essex</option>
         <option value="Franklin">Franklin</option>
         <option value="Hampden">Hampden</option>
         <option value="Hampshire">Hampshire</option>
         <option value="Middlesex">Middlesex</option>
         <option value="Nantucket">Nantucket</option>
         <option value="Norfolk">Norfolk</option>
         <option value="Plymouth">Plymouth</option>
         <option value="Suffolk">Suffolk</option>
         <option value="Worcester">Worcester</option>
     </select>
     <div class="invalid-feedback">
         Please select a valid County.
     </div>
 </div>

 <div class="col-12">
     <div class="form-check">
         <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
         <label class="form-check-label" for="invalidCheck">
             Agree to terms and conditions
         </label>
         <div class="invalid-feedback">
             You must agree before submitting.
         </div>
     </div>
 </div>
 <div class="col-12 mt-3">
     <a  href="/completeProfile" id="submit" class="btn btn-orange btn-outline" >Submit</a>
 </div>
</form>
</div>
</div>
</div>



<!-- axios fetch -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- script  -->
<script>

    let btn = document.getElementById('submit');
    btn.addEventListener("click",async function (e) {

    e.preventDefault();

  let firstName = document.getElementById("fname").value;
  let lastName = document.getElementById("lname").value;
  let gender = document.getElementById("gender").value;
  let marital = document.getElementById("marital-status").value;
  let race = document.getElementById("race").value;
  let ethnicity = document.getElementById("ethnicity").value;
  let email = document.getElementById("email").value;
  let age = document.getElementById("age").value;
  let password = document.getElementById("password").value;
  let cpassword = document.getElementById("confirmPassword").value;
  let contact = document.getElementById("contact").value;
  let alterante_contact = document.getElementById("altContact").value;
  let address = document.getElementById("address").value;
  let city = document.getElementById("city").value;
  let country = document.getElementById("county").value;

// console.log(fname,lname,email,password);

        if (firstName == '' || email == '' || password == ''
            || cpassword == '') {
            alert('Fill all details');
        }
        else if (password != cpassword) {
            alert('confirm-password not matching')
        }
        else {
            if (String(email).toLowerCase().match(/^\S+@\S+\.\S+$/)) {
                let resp = await axios.post('/registerPatient', {
                    firstName,lastName,gender,marital,race,ethnicity,email,age,password,contact,alterante_contact,address,city,country
                });

                console.log(resp);
                if (resp.data == 'done'){
                    alert('Patient Registered');
                }
                else alert('Try Again');
                
            }
            else {
                alert('Enter valid email address');
            }
        }


});

</script>