 <!-- Page Title -->

     <!-- Bootstrap 5 -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link rel="stylesheet" href="css/layout.css">
     <!-- <link rel="stylesheet" href="css/login.css"> -->

    <style>
      body{
        background-color: rgb(190, 222, 233);
      }
      #submit{
        background-color: black;
        color: white;
      }
      .bgborder{
        margin: 2rem  5rem;
        padding-bottom:1rem ;
        border: 4px solid black;
      }
      #submit:hover{
        background-color: white;
        color: black;
      }
    </style>

<div class="login-div flex-column-centered bgborder">     
  <div class="login-comps">

<header class="page-header mx-auto col-md-7 my-4">
<h1 class="page-title">Doctor Signup</h1>
</header>


<div class="d-flex mx-auto col-md-7">


<!--Form Starting-->



<form class="row g-3 needs-validation">

<div class="col-md-2">
    <label for="clinic-id" class="form-label">Clinic ID</label>
    <input type="number" min="1" max="10000" class="form-control" id="clinic-id" name="clinicId" required>
    <div class="valid-feedback">
        Looks good!
    </div>
    <div class="invalid-feedback">
        Mandatory !
    </div>
</div>

<div class="col-md-5">
    <label for="fname" class="form-label">First Name</label>
    <input type="text" class="form-control" id="fname" name="fname" placeholder="John" required>
    <div class="valid-feedback">
        Looks good!
    </div>
</div>

<div class="col-md-5">
    <label for="lname" class="form-label">Last name</label>
    <input type="text" class="form-control" id="lname" name="lname" placeholder="Doe" required>
    <div class="valid-feedback">
        Looks good!
    </div>
</div>


<div class="col-md-8">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="johndoe@xyz.com" required>
    <div class="valid-feedback">
        Looks good!
    </div>
</div>

<div class="col-md-4">
    <label for="clinic-id" class="form-label">Charges every 15 min</label>
    <input type="number" min="0" max="2500" class="form-control" id="charge" name="consultingCharges"
        required>
    <div class="valid-feedback">
        Looks good!
    </div>
    <div class="invalid-feedback">
        Please keep your charges under Rs 2500 !
    </div>
</div>

<div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <input type="password" minlength="8" maxlength="16" class="form-control" id="password" name="password"
        required>
    <div class="valid-feedback">
        Looks good!
    </div>
    <div class="invalid-feedback">
        Password length should be 8-16 characters!
    </div>
</div>

<div class="col-md-6">
    <label for="confirmPassword" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
    <div class="invalid-feedback">
        Passwords do not match !
    </div>
</div>

<div class="col-md-6">
    <label for="contact-no" class="form-label">Contact Number</label>
    <input type="tel" class="form-control" id="contact-no" name="contactNo" pattern="[0-9]{10}" required>
    <!-- <input id="contact-no" type="tel" pattern="^\d{4}-\d{3}-\d{4}$" required > -->
    <div class="valid-feedback">
        Looks good!
    </div>
    <div class="invalid-feedback">
        10 Digits please !
    </div>
</div>

<div class="col-md-6">
    <label for="alt-contact-no" class="form-label">Alternate Contact Number</label>
    <input type="tel" class="form-control" id="altContact-no" name="altContactNo" pattern="[0-9]{10}"
        placeholder="">
    <div class="valid-feedback">
        Looks good!
    </div>
    <div class="invalid-feedback">
        10 Digits please !
    </div>
</div>

<div class="col-md-6">
    <label for="degree" class="form-label">Degree</label>
    <select class="form-select" id="degree" name="degree" onchange="loadSpecializations(event)" required>
        <option selected disabled value="">Degree</option>
    </select>
    <div class="invalid-feedback">
        Please select a valid degree.
    </div>
</div>

<div class="col-md-6">
    <label for="specialization" class="form-label">Specialization</label>
    <select class="form-select" id="specialization" name="specialization" required>
        <option selected value="None">None</option>
    </select>
    <div class="invalid-feedback">
        Please select a valid Specialization.
    </div>
</div>

<div class="col-12">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" name="check" required>
        <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
            You must agree before submitting.
        </div>
    </div>
</div>

<div class="col-3 mt-3">
    <button id = "submit" class="btn btn-orange" type="submit">Submit form</button>
</div>
</form>
</div>
</div>
</div>




<script>

degreeTypes = {
    MD: ["Anaesthesiology", "Biochemistry", "Community Health", "Dermatology", "Family Medicine", "Forensic Medicine", "General Medicine", "Microbiology", "Paediatrics", "Palliative Medicine", "Pathology", "Skin and Venereal diseases", "Pharmacology", "Physical Medicine and Rehabilitation", "Physiology", "Preventive and Social Medicine", "Psychiatry", "Radio-Diagnosis", "Radio-Therapy", "Tuberculosis and Respiratory diseases", "Emergency and Critical care", "Nuclear Medicine", "Transfusion Medicine", "Tropical Medicine"],
    MS: ["ENT", "General Surgery", "Opthalmology", "Orthopaedics", "Obsetrics, and Gynaecology", "Dermatology, Vererology, and Leprosy"],
    DNB: ["Anaesthesiology", "Anatomy", "Biochemistry", "Dermatology", "Emergency Medicine", "Family Medicine", "Field Epidemiology", "Forensic Medicine", "General Medicine", "General Surgery", "Health Administration"],
    DM: ["Psychiatry", "Cardiology", "Cardiac-Anaesthesiology", "Pulmonary and Sleep disorders", "Cardiology", "Obstetrics and Gynecology", "Haematology", "Nuclear Medicine", "Pharmacology", "Cardiac-Radiology", "Anaesthesiology, Pain Medicine and Critical Care", "Paediatrics", "Endocrinology", "Nephrology", "Gastroenterology", "Neuro-Anaesthesiology and Critical Care", "Medicine and Microbiology", "Neurology", "Onco-Anesthesiology and Palliative Medicine"],
    BDS: [],
    BAMS: [],
    BHMS: [],
    BUMS: [],
  };
  
  // Function to show degree types
  (function () {
  
    const degreeTypeContainer = document.getElementById("degree");
    
    degreeTypeContainer.innerHTML="";
  
    for (let degreeType in degreeTypes) {
      const option = document.createElement("option");
      option.innerText = degreeType;
      degreeTypeContainer.appendChild(option);
    }
  
    degreeTypeContainer.selectedIndex = 4;
  })();
  
  const loadSpecializations = (event) => {
    const degree = event.target.value;
    const specializationContainer = document.getElementById("specialization");
    
    specializationContainer.innerHTML="";
    const option = document.createElement("option");
    option.innerText = "None";
    specializationContainer.appendChild(option);
    
    degreeTypes[degree].forEach((specialization)=>{
      const option = document.createElement("option");
      option.innerText = specialization;
      specializationContainer.appendChild(option);
  
      specializationContainer.selectedIndex = 0;
      // specializationContainer.options[specializationContainer.selectedIndex].defaultSelected = true;
    });
  }

</script>


<!-- axios fetch -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- script  -->
<script>

    let btn = document.getElementById('submit');
    btn.addEventListener("click",async function (e) {

    e.preventDefault();


  let clinicId = document.getElementById("clinic-id").value;
  let firstName = document.getElementById("fname").value;
  let lastName = document.getElementById("lname").value;
  let email = document.getElementById("email").value;
  let charges= document.getElementById("charge").value;
  let password = document.getElementById("password").value;
  let cpassword = document.getElementById("confirmPassword").value;
  let contact = document.getElementById("contact-no").value;
  let alternate_contact = document.getElementById("altContact-no").value;


    var e = document.getElementById("degree");
    // console.log(e);
    var degree = e.options[e.selectedIndex].value;
    // console.log(degree);
    // console.log(username);

    var e = document.getElementById("specialization");
    // console.log(e);
    var special = e.options[e.selectedIndex].value;
    // console.log(strSpecialization);
    // console.log(username);

// console.log(fi,lastname,email,password);

        if (firstName == '' || email == '' || password == ''
            || cpassword == '') {
            alert('Fill all details');
        }
        else if (password != cpassword) {
            alert('confirm-password not matching')
        }
        else {
            if (String(email).toLowerCase().match(/^\S+@\S+\.\S+$/)) {
                let resp = await axios.post('/registerDoctor', {
                    clinicId,firstName,lastName,email,charges,password,contact,alternate_contact,
                    degree,special
                });

                console.log(resp);
                if (resp.data == 'done'){
                    alert('User created');
                }
                else {
                    alert('try another email');
                }
            }
            else {
                alert('Enter valid email address');
            }
        }

});

</script>